/** universal------------------------------------------------------------------------- */
* {
    font-family: 'Bai Jamjuree', sans-serif;
}


/** elements ------------------------------------------------------------------------- */
a {
    color:inherit;
}



/** classes -------------------------------------------------------------------------- */




/** id's ----------------------------------------------------------------------------- */

#nav-bar {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 80px;
}

#name {
    font-size: 27px;
}

#title {
    font-size: 22px;
    color: rgb(170, 170, 170);
}

/* profile content ------------------- */
#profile-cnt {
    display: flex;
    margin-top: 100px;
    display: flex;
}

#proPic-cnt {
    margin-left: 114px;
    width: 400px;
    text-align: center;
}

#profile-pic {
    width: 400px;
    margin-top: 130px;
}



#profile-pic:hover {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

#circle {
    border-radius: 50%;
    height: 400px;
    width: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: pic;
    animation-duration: 2s;
}

@keyframes pic {
    from {
        /* border-radius: 0%; */
        height: 10px;
        width: 10px;
    }
    to {
      /* border-radius: 50%; */
      height: 400px;
      width: 400px;
    }
  }

#about-cnt {
    margin-top: 200px;
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    border-left: 2px solid black;
    padding-left: 40px;
    animation-name: about;
    animation-duration: 2s;
}

@keyframes about {
    from {
        margin-left: 1000px;
    }
    to {
      margin-left: 500px;
    }
  }

#about {
    border-bottom: 1px solid black;
    width: 140px;
    
}

#about-me {
    margin-top: 30px;
    font-size: large;
}

#project-section {
    margin-top: 300px;
    height: 100px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#project1 {
    width: 900px;
    height: 350px;
    border: 2px solid black;
    
}

#sub-projects {
    margin-top: 30px;
    /* display: flex;
    justify-content: center; */
}

#project2 {
    width: 700px;
    height: 300px;
    margin-right: 20px;
    border: 2px solid black;
}
#project3 {
    width: 700px;
    height: 300px;
    margin-left: 20px;
    border: 2px solid black;
}

#foot-title {
    margin-top: 300px;
    text-align: center;
    font-size: 40px;
}

#footer {
    margin-top: 20px;
    height: 250px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}







  








@media only screen and (max-width: 1600px) {
   #about-cnt {
       margin-left: 300px;
   }
  }